In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/employee_dataset.csv")

In [5]:
df.head()

   EmployeeID   Name  Age Department  Salary  Experience
0           1  Grace   33  Marketing   95726           5
1           2  David   55  Marketing   40492          22
2           3  Helen   54      Sales   36102          29
3           4    Eve   44  Marketing   80336           3
4           5  Grace   45      Sales  115314          12

In [6]:
df.tail()

    EmployeeID   Name  Age Department  Salary  Experience
95          96   Jack   30    Finance   75543          31
96          97    Ivy   27      Sales   86556          19
97          98  Grace   37  Marketing   33343          16
98          99    Ivy   50         IT   43500           5
99         100  Helen   24  Marketing   83222          12

In [7]:
df.head(30)

    EmployeeID     Name  Age Department  Salary  Experience
0            1    Grace   33  Marketing   95726           5
1            2    David   55  Marketing   40492          22
2            3    Helen   54      Sales   36102          29
3            4      Eve   44  Marketing   80336           3
4            5    Grace   45      Sales  115314          12
5            6     Jack   58         HR   56641          26
6            7  Charlie   56      Sales   64584          16
7            8    Grace   43      Sales   62745          22
8            9    Helen   48  Marketing   53093          29
9           10      Eve   56  Marketing   96105          14
10          11    David   22         IT   81885          28
11          12    Helen   56         IT   66631           5
12          13    Helen   58         HR  102991          30
13          14  Charlie   35         IT   34014           5
14          15    Frank   24      Sales   41093          12
15          16      Eve   22  Marketing   48070          16
16          17      Bob   26         IT   65777          26
17          18    Helen   47         IT   86958          26
18          19    Frank   35         HR  112074          21
19          20      Bob   48         HR   40729          33
20          21      Eve   30      Sales   75017          30
21          22    Alice   36  Marketing   96320          23
22          23     Jack   36         HR   57751          10
23          24    Frank   47         IT  108069           5
24          25      Ivy   34  Marketing   84748          34
25          26    Alice   53  Marketing   35801          31
26          27     Jack   53         IT   49190          10
27          28  Charlie   25         HR   79689          19
28          29    Grace   51         IT   80993          32
29          30    David   58  Marketing   59592           1

In [8]:
df.describe()

       EmployeeID         Age         Salary  Experience
count  100.000000  100.000000     100.000000  100.000000
mean    50.500000   40.950000   76076.890000   18.680000
std     29.011492   11.921778   27847.713515    9.639858
min      1.000000   22.000000   31150.000000    1.000000
25%     25.750000   30.000000   49428.500000   11.750000
50%     50.500000   43.500000   80318.000000   19.000000
75%     75.250000   53.000000  100313.750000   26.250000
max    100.000000   59.000000  119912.000000   34.000000

In [9]:
df.dtypes

EmployeeID     int64
Name          object
Age            int64
Department    object
Salary         int64
Experience     int64
dtype: object

In [10]:
df.isnull().sum()

EmployeeID    0
Name          0
Age           0
Department    0
Salary        0
Experience    0
dtype: int64

In [11]:
df['Age']

0     33
1     55
2     54
3     44
4     45
      ..
95    30
96    27
97    37
98    50
99    24
Name: Age, Length: 100, dtype: int64

In [12]:
df[['Name','Age']]

     Name  Age
0   Grace   33
1   David   55
2   Helen   54
3     Eve   44
4   Grace   45
..    ...  ...
95   Jack   30
96    Ivy   27
97  Grace   37
98    Ivy   50
99  Helen   24

[100 rows x 2 columns]

In [13]:
v = df[['Age','Salary']]

In [14]:
type(v)

pandas.core.frame.DataFrame

In [15]:
df['Name'][1:100:3]

1       David
4       Grace
7       Grace
10      David
13    Charlie
16        Bob
19        Bob
22       Jack
25      Alice
28      Grace
31    Charlie
34      Grace
37      Grace
40        Ivy
43        Ivy
46        Bob
49      Helen
52      David
55      David
58      Frank
61      Frank
64        Bob
67      Helen
70      Helen
73        Eve
76        Ivy
79        Ivy
82      Helen
85      Helen
88      Helen
91      Alice
94      Grace
97      Grace
Name: Name, dtype: object

In [16]:
df.columns

Index(['EmployeeID', 'Name', 'Age', 'Department', 'Salary', 'Experience'], dtype='object')

In [17]:
df.iloc[1:5]

   EmployeeID   Name  Age Department  Salary  Experience
1           2  David   55  Marketing   40492          22
2           3  Helen   54      Sales   36102          29
3           4    Eve   44  Marketing   80336           3
4           5  Grace   45      Sales  115314          12

In [18]:
df.iloc[0:5]

   EmployeeID   Name  Age Department  Salary  Experience
0           1  Grace   33  Marketing   95726           5
1           2  David   55  Marketing   40492          22
2           3  Helen   54      Sales   36102          29
3           4    Eve   44  Marketing   80336           3
4           5  Grace   45      Sales  115314          12

In [19]:
df['Age']>40

0     False
1      True
2      True
3      True
4      True
      ...
95    False
96    False
97    False
98     True
99    False
Name: Age, Length: 100, dtype: bool

In [20]:
df[df['Age']>10]

    EmployeeID   Name  Age Department  Salary  Experience
0            1  Grace   33  Marketing   95726           5
1            2  David   55  Marketing   40492          22
2            3  Helen   54      Sales   36102          29
3            4    Eve   44  Marketing   80336           3
4            5  Grace   45      Sales  115314          12
..         ...    ...  ...        ...     ...         ...
95          96   Jack   30    Finance   75543          31
96          97    Ivy   27      Sales   86556          19
97          98  Grace   37  Marketing   33343          16
98          99    Ivy   50         IT   43500           5
99         100  Helen   24  Marketing   83222          12

[100 rows x 6 columns]

In [21]:
df['new_col'] = df['Age'] + 10

In [22]:
df

    EmployeeID   Name  Age Department  Salary  Experience  new_col
0            1  Grace   33  Marketing   95726           5       43
1            2  David   55  Marketing   40492          22       65
2            3  Helen   54      Sales   36102          29       64
3            4    Eve   44  Marketing   80336           3       54
4            5  Grace   45      Sales  115314          12       55
..         ...    ...  ...        ...     ...         ...      ...
95          96   Jack   30    Finance   75543          31       40
96          97    Ivy   27      Sales   86556          19       37
97          98  Grace   37  Marketing   33343          16       47
98          99    Ivy   50         IT   43500           5       60
99         100  Helen   24  Marketing   83222          12       34

[100 rows x 7 columns]

In [23]:
df = df.drop(['new_col'],axis=1)

In [24]:
df

    EmployeeID   Name  Age Department  Salary  Experience
0            1  Grace   33  Marketing   95726           5
1            2  David   55  Marketing   40492          22
2            3  Helen   54      Sales   36102          29
3            4    Eve   44  Marketing   80336           3
4            5  Grace   45      Sales  115314          12
..         ...    ...  ...        ...     ...         ...
95          96   Jack   30    Finance   75543          31
96          97    Ivy   27      Sales   86556          19
97          98  Grace   37  Marketing   33343          16
98          99    Ivy   50         IT   43500           5
99         100  Helen   24  Marketing   83222          12

[100 rows x 6 columns]

In [25]:
df.shape

(100, 6)

In [26]:
df = df.rename(columns={'Age':'How many years'})

In [27]:
df['How many years'][0:4]

0    33
1    55
2    54
3    44
Name: How many years, dtype: int64