*** USE THE CONCEPT OF LOOPS TO SOLVE THE BELOW PROGRAMS***

1) Python program to count the total number of digits in a number.

TAKE THE INPUT NUMBER : 123456

In [ ]:
#wRITE YOUR CODE HERE
a=int(input())
c=0
while a!=0 :
  a //= 10
  c += 1
print(c)

123456
6

2) Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

In [ ]:
#WRITE YOUR CODE HERE
num_list=[1,3,5,6,99,134,55]
even=0
odd=0
for num in num_list:
  if num%2==0:
    even += 1
  else :
    odd += 1
print('Even : ',even, ' ','Odd : ',odd)

Even :  2   Odd :  5

3) Python program to get the Fibonacci series between 0 to 50.

In [ ]:
#WRITE YOUR CODE HERE
n=int(input())
f1, f2 = 0, 1
while f2 <= n:
  print(f2)
  f1, f2 = f2, f1+f2
print()

50
1
1
2
3
5
8
13
21
34

4) Python program that accepts a string and calculates the number of digits and letters.

Input

WEBBLINDERS1234

In [ ]:
#WRITE YOUR CODE HERE
string=input()
l=0
n=0
for char in string:
  if char.isalpha():
    l += 1
  elif char.isdigit():
    n += 1
print('Letters : ',l,' ','Numbers : ',n)

WEBBLINDERS1234
Letters :  11   Numbers :  4

5) Python program to display all numbers within a range except the prime numbers.

INPUT RANGE : 30 TO 80

In [ ]:
#WRITE YOUR CODE HERE
def is_prime(num):
  if num < 2:
        return False
  for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
  return True
def display_nonprimes(start,end):
  for num in range(start, end + 1):
        if not is_prime(num):
            print(num, end=" ")
start=int(input())
end=int(input())
display_nonprimes(start,end)

30
80
30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50 51 52 54 55 56 57 58 60 62 63 64 65 66 68 69 70 72 74 75 76 77 78 80