*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

> Add blockquote



Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [ ]:
#WRITE YOUR CODE HERE
list=[8,2,3,0,7]
sum=0
for i in list:
  sum += i
print(sum)

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [ ]:
#WRITE YOUR CODE HERE
list=[8,2,3,-1,7]
mul=1
for i in list:
  mul *= i
print(mul)

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [2]:
#WRITE YOUR CODE HERE
s=input()
print(s[::-1])

1234abcd
dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
#WRITE YOUR CODE HERE
n=int(input())
f=1
for i in range(1,n+1):
  f *= i
print(f)

5
120

5) Write a Python function to check whether a number falls within a given range.

In [6]:
#WRITE YOUR CODE HERE
n=int(input())
l=int(input())
u=int(input())
if l <= n <=u :
  print('true')
else:
  print('false')

2
1
10
true